// $colors: (
//     primary:(blue: #5bacc3),
//     secondry:(pink:#fff0ed, ),
//     neutral: (graphite:#393939, light-gray:#f7f7f7, white: #fff),
//     font: (primary:#393939, secondary: #fff),
//     shadows: (primary: rgba(0, 0, 0, 0.25)),
//     highlight: (primary: #5bacc3))  



$color-primary: #5bacc3;
$color-seconardy: #fff0ed;
$color-neutral-graphite: #393939;
$color-neutral-light-gray: #f7f7f7;
$color-neutral-white: #fff;