$color-primary: #5bacc3;
$color-seconardy: #fff0ed;
$color-neutral-graphite: #393939;
$color-neutral-light-gray: #f7f7f7;
$color-neutral-white: #fff;
// TINTS
$color-primary-dark: #529bb0;
// SHADOWS
$box-shadow-color: rgba(0, 0, 0, 0.25);
// FONT COLORS
$primary-font-color: #393939;
$secondary-font-color: #fff;
$highlight-font-color: #5bacc3;
// FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-regular-italic: 400;
$font-weight-bold: 700;
// BOX SHADOWS
$box-shadow: 0 0.5rem 0.9rem -0.1rem;
// SPACEINGS
$margin: 2rem;
$margin-lg: 4rem;
$padding: 2rem;
$padding-lg: 4rem;
$gap: 2rem;
$boarder-radius: 1rem;
$icon-width: 5rem;
// ICONS
$icon-width: 5rem;

//DISPAY
$max-width: 120rem;