@use "./pages/menu" as *;
@use "./abstracts/" as *;

// ---------------------------------
// GLOBALS
// ---------------------------------

@mixin btn-animation ($content) {
  content: $content;
  padding: 1rem 2.5rem;
  top: -5px;
  left: -5px;
  position: absolute;
  color: $color-neutral-white;
  box-shadow: inset 0px 0px 0px 2px $color-neutral-graphite;
  height: 100%;
  transition: all 0.3s;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //1 rem === 10px
  font-size: 62.5%;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: $color-neutral-graphite;
  box-sizing: border-box;
}

h1,
h2 {
  font-size: 6rem;
  font-weight: $font-weight-light;
}

h3 {
  font-size: 3.3rem;
  font-weight: $font-weight-light;
}

p {
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

a {
  color: inherit;

  &:link,
  :visited,
  :active {
    text-decoration: none;
  }
}

.icon {
  width: 5rem;
}

// ---------------------------------
// NAVIGATION
// ---------------------------------

.header {
  background-color: $color-seconardy;
  width: 100%;
}

.nav {
  background-color: var(--primary-nitro-pink-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding;
  width: 100%;
  max-width: 170rem;
  margin: 0 auto;

  &__logo-link {
    display: flex;

    &-img {
      width: $icon-width;
    }

    &-text {
      font-size: 3.3rem;
      font-weight: $font-weight-light;
    }
  }

  // NAV LINKS
  &__list {
    display: flex;
    align-items: center;
    gap: $gap;

    &-item {
      &-link {
        font-size: 2.1rem;
        transition: all 0.3s;

        &--highlight {
          color: $highlight-font-color;
          transition: all 0.3s;
        }
      }

      &-link:hover {
        color: $color-primary-dark;
      }
    }
  }
}

// ---------------------------------
// SECTIONS
// ---------------------------------

.section {
  padding: $padding-lg;

  &--color-secondary {
    background-color: $color-seconardy;
  }

  &--color-light-grey {
    background-color: $color-neutral-light-gray;
  }

  &--color-white {
    background-color: $color-neutral-white;
  }

  &__container {
    max-width: $max-width;
    padding: $padding;
    width: 100%;
    margin: 0 auto;
  }

}

// ---------------------------------
// HERO
// ---------------------------------

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  padding: $padding;
  max-width: 120rem;
  margin: auto;

  &__column {
    padding: $padding;
    justify-self: self-start;

    &-title {
      font-size: 6rem;
      font-weight: $font-weight-light;
      line-height: 1;
    }

    &-body {
      font-size: 1.8rem;
      margin: $margin 0;
    }
  }

  &__img {
    grid-column: 2 / 3;
    padding: $padding;
  }
}

// ---------------------------------
// OUR PRODUCTS
// ---------------------------------

.products {
  max-width: $max-width;
  margin: auto;

  &__title {
    font-size: 6rem;
    font-weight: $font-weight-light;
    text-align: center;
    margin: $margin;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: $padding;
    column-gap: $gap;
  }

  &__cta {
    padding: $padding;
    display: flex;
    justify-content: center;
  }
}

// ---------------------------------
// ABOUT US
// ---------------------------------

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50vh;


  &__left {
    display: flex;
    flex-direction: column;
    gap: $gap;

    &-row {
      display: flex;
      justify-content: space-between;
    }
  }

  &__right {
    width: 40rem;
    height: 36rem;
    background-image: url(../assests/images/coldbrewbackground.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all;

    &-img {
      height: 280px;
      padding: $padding;
      z-index: 100;
    }
  }

  &__right::after {
    content: '';
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    border: solid 5px $color-primary;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
  }

}



.footer {
  background-color: $color-seconardy;
  position: relative;
  overflow: hidden;


  &__icon {
    width: 12rem;
    opacity: 25%;
    position: absolute;
    padding: $padding;
    
    &--left{
      left: -5rem;
    }
    &--right{
      bottom: 0rem;
      right: -5rem;
    }
  }


  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: $padding;
    max-width: $max-width;
    margin: 0 auto;
  }

  &__column {
    padding: $padding 0;

    &-heading {
      font-size: 3.3rem;
      font-weight: $font-weight-light;
      margin: $margin 0;
    }

    &-sub {
      font-size: 1.8rem;

      &--bold {
        font-weight: $font-weight-bold;
      }
    }
  }

  &__link-img {
    width: $icon-width;
  }
}

// ---------------------------------
// COMPONENTS
// ---------------------------------
// BUTTON
.btn {
  background-color: $color-primary;
  height: auto;
  font-size: 2.1rem;
  color: transparent;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  width: max-content;
}

.btn--shop-now::before {
  @include btn-animation('shop now');
}

.btn--learn-more::before {
  @include btn-animation('learn more')
}

.btn:active::before {
  translate: 5px 5px;
}

.btn:hover {
  background-color: $color-primary-dark;
}

// ---------------------------------
//CARD
.card {
  width: 33rem;
  height: 44rem;
  border-radius: $boarder-radius;
  box-shadow: $box-shadow $box-shadow-color;
  margin: 0 $margin;
  transition: all 0.3s;
  background-color: $color-seconardy;

  &__upper {
    background-color: $color-neutral-white;
    border-radius: $boarder-radius $boarder-radius 0 0;
  }

  &__img {
    height: 28rem;
    display: flex;
    margin: 0 auto;
    padding: $padding;

  }

  &__lower {
    display: flex;
    flex-grow: 1;
    padding: $padding-lg $padding;
    justify-content: space-between;
    align-items: center;

  }

  &__price {
    color: $color-primary;
  }
}

.card:hover {
  scale: 1.05;
}

// DISOUNT BANNER
.discount__banner {
  width: 90%;
  padding: $padding;
  background-color: $color-neutral-graphite;
  margin: (5 * $margin) auto;

  &-text {
    font-size: 4.5rem;
    color: $color-neutral-white;
    text-align: center;

    &--bold {
      font-weight: $font-weight-bold;
      transition: all 0.3s;
    }

    &--bold:hover {
      color: $color-primary;
    }
  }
}



// ---------------------------------
// ANIMATIONS
// ---------------------------------
// SPINNING CAN
.rotate:hover {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
// FLASHING BANNER
.flash {
  animation: flash 2.5s infinite ease-in-out;
}
@keyframes flash {
  0% {
    background-color: $color-neutral-graphite;
  }

  50% {
    background-color: $color-primary;

  }

  100% {
    background-color: $color-neutral-graphite;
  }
}